@import "../../../styles/variables";

.desktopNavBarList {
  height: 100%;
  background-color: rgba($mainBrown, 0.9);

  ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      text-decoration: none;
      color: white;
      list-style: none;
      width: auto;
      a {
        position: relative;
        margin: 0 17px;
        text-decoration: none;
        color: white;
      }
      a::after {
        content: "";
        position: absolute;

        left: -3px;
        height: 3px;
        right: 110%;
        bottom: -3px;
        background: white;
        transition: right 0.4s ease-in-out;
      }
      a:hover::after,
      a:active::after,
      a:focus::after {
        right: -3px;
      }
    }
  }
}

.desktopLogo {
  height: 60px;
}
